<!doctype html>
<html lang="fr">
<head>
	<meta charset="utf-8">
	<title><?php echo "$title | $sitename";?></title>
	<link rel="stylesheet" href="<?php echo $url;?>/include/css/<?php echo $css; ?>.css" media="all">
    <script src="<?php echo $url;?>/include/js/<?php echo $jquery;?>"></script>
		<script src="<?php echo $url;?>/include/js/lib.js"></script>
</head>
<body>
<header>
	<nav>
		<a href="<?php echo $url;?>"><?php echo $home;?></a>
	</nav>
</header>
<section>
<ol>
<li>Pick up a voice</li>
<li>Set a time</li>
<li>Wait a bit</li>
<li>Play the audio</li>
</ol>
     <?php echo $page; ?>
</section>
<footer>
Ce site est dédié à l'apprentissage du français. Ce site web est sous license libre - creative common. <a href="<?php echo $github;?>">Je souhaite accéder au code source</a>.
</footer>
</body>
</html>
